@charset "UTF-8";

/* Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more. */

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
  }
  section#login {
    width: 80vw;
  }

  section#login > div#imagem {
    float: left;
    width: 30%;
    height: 100vh;
  }

  section#login > div#formulario {
    float: right;
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
  }

  section#login {
    width: 950px;
  }
  
  section#login > div#imagem {
    float: right;
    width: 50%;
    height: 100%;
  }

  section#login > div#formuláro {
    float: left;
    width: 50%;
  }

  div#formulario > h1 {
    font-size: 2em;
  }

  div#formulario > p {
    font-size: 1.2em;
}
}