@charset "UTF-8";

/* 
paletas de cores
  verde: #49a09d;
  liliais: 5f2c82;
*/

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #5f2c82;
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  background-color: white;
  width: 250px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);

  transition: width .3s, height .3s;
  transition-timing-function: ease;
}

#login  >  #imagem{
  display: block;
  background: #5f2c82 url(../imagens/entrada.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 200px;
}

#login > #formulario {
  display: block;
  padding: 10px;
}

div#formulario > h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#formulario > p {
  font-size: 0.8em;
}