@charset "UTF-8";

/* 
paletas de cores
  verde: #49a09d;
  liliais: 5f2c82;
*/

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #5f2c82;
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  background-color: white;
  width: 250px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);

  transition: width .3s, height .3s;
  transition-timing-function: ease;
}

#login  >  #imagem{
  display: block;
  background: #5f2c82 url(../imagens/entrada.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 200px;
}

#login > #formulario {
  display: block;
  padding: 10px;
}

div#formulario > h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#formulario > p {
  font-size: 0.8em;
}

form > div.campo {
  background-color: #5f2c82;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin: 5px 0px;
}

div.campo > label {
  display: none;
}

form > input[type=submit] {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  color: white;
  background-color: #49a09d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form > input[type=submit]:hover {
  background-color: #2d6462;
}

form > a.botao {
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 40px;
  padding-top: 5px;
  margin-top: 5px;
  background-color: white;
  color: #246462;
  border: 1px solid #49a09d;
  border-radius: 7px;
  text-decoration: none;
}

form > a.botao:hover {
  background-color: #6cd3cf;
}

form > a.botao > i {
  font-size: 0.8em;
  
}